[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/ntk148v/hugo-theme-sam
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/ntk148v/hugo-theme-terminal.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
