<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    {{ block "head_resources" . }}
    <!-- Use this block to link to further resources like .js or .css files. -->
    {{ end }}
    <title>
        {{ block "title" . }}
        {{ .Title }}
        {{ end }}
    </title>
</head>

<body>
    <div class="wrap">
        <div class="section go-center" id="title">{{ .Title }}</div>
        <div class="section go-center" id="content">
            <iframe src="https://giphy.com/embed/9J7tdYltWyXIY" width="480" height="404" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
        </div>
        {{ if .Site.Params.mainMenu }}
        <div class="section bottom-menu">{{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" false) }}</div>
        {{ end }}
        <div class="section footer">{{ partial "footer.html" . }}</div>
    </div>
</body>

</html>