{{- define "main" -}}

{{- $justify := false -}}
{{- if eq .Params.justify true -}} {{- $justify = true -}} {{- end -}}
<div class="article-container">
    {{- partial "article-header.html" . -}}
    <article class="article markdown-body" {{- if $justify -}}style="text-align: justify;" {{- end -}}>
        {{- with .Params.cover -}}<p><img class="cover" src="{{- . | safeURL -}}" alt></p>{{- end -}}
        {{- .Content -}}
        {{ if .Params.clickablePhotos }}
        <div class="grid">
            {{ $images := .Resources.ByType "image" }}
            {{ range shuffle $images }}
            {{ $resized := .Resize $.Params.maxWidth }}
            <div>
                <a href="{{ .RelPermalink }}">
                    <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" />
                </a>
            </div>
            {{ end }}
        </div>
        {{ else }}
        <div class="grid">
            {{ $images := .Resources.ByType "image" }}
            {{ range shuffle $images }}
            {{ $resized := .Resize $.Params.maxWidth }}
            <div>
                <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" />
            </div>
            {{ end }}
        </div>
        {{ end }}
    </article>
    {{- partial "article-labels.html" . -}}
    {{- partial "article-share.html" . -}}
    {{- partial "article-license.html" . -}}
    {{- partial "article-author.html" . -}}
</div>
{{- partial "article-bottom-navigation.html" . -}}
{{- partial "article-comments.html" . -}}
{{- end -}}