.contact-container {
  font-style: normal;
  text-align: center;
  align-items: center;
  padding: 0 30px 30px;
}

.contact-container img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 0 !important;
}

.contact-container ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.contact-container ul li {
  display: inline-block;
  zoom: 1;
}

.contact-container ul li:before {
  display: none;
}

.contact-container ul li a {
  display: block;
  font-size: 2em;
  margin: 5px 5px;
  text-decoration: none;
  color: rgba(0, 32, 22, 0.75);
}

.contact-container a:hover {
  color: #406599;
}

.posts-group {
  display: flex;
  margin-bottom: 1.9em;
  line-height: normal;

  .post-year {
    padding-top: 6px;
    margin-right: 1.8em;
    font-size: 1.6em;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .posts-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post-item {
    border-bottom: 1px var(--gray-500) dashed;

    a {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 12px 0;
    }
  }

  .post-day {
    flex-shrink: 0;
    margin-left: 1em;
  }
}

.markdown {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: var(--color-link);
    }
  }
}

// Config syntax theme depends on overal color scheme
// https://gohugo.io/content-management/syntax-highlighting/#generate-syntax-highlighter-css
// Don't forget to set markup.highlight.noClasses=false
@media (prefers-color-scheme: dark) {
  @import 'syntax-light'
}
@media (prefers-color-scheme: light) {
  @import 'syntax-dark'
}
