@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: local(''), url('fonts/iosevka-medium.woff2') format('woff2');
}

body {
    font-family: 'Iosevka Web', sans-serif;
}

code {
    font-family: 'Iosevka Web', monospace;
}
